@{
    Script.Require("ivNet.Configuration");

    Style.Require("Bootstrap.TagsInput");
    Style.Require("ivNet.Configuration");       
}

<div id="ConfigurationGrid" data-ng-app="ivNet.Configuration">
    <div data-ng-controller="ConfigurationController">
        <section id="configurationEdit">
            <div class="col-md-6">
                @Html.Partial("Admin/Configuration/_Categories")
                @Html.Partial("Admin/Configuration/_RoomType")                
            </div>
            <div class="col-md-6">
                @Html.Partial("Admin/Configuration/_TagText")
                @Html.Partial("Admin/Configuration/_Transport")
                
            </div>
        </section>
    </div>
</div>
