<div class="table-responsive">
    <h3>Registration - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Listings</td>
                <td>As an owner I need authorise, adjust expirary dates and cancel package listings</td>
            </tr>
        </tbody>
</table>
</div>
