<div class="table-responsive">
    <h3>Configuration - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Lists</td>
                <td>As an administrator I would like to maintain the list of transport, categories, room types and tags used during listing registration</td>
            </tr>
        </tbody>
    </table>
</div>

