<div class="table-responsive">
    <h3>Listing Tab - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>           
            <tr>
                <td>1</td>
                <td>My Listings</td>
                <td>As an Owner I should see a table of all my listings sorted by town and address</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Add A New Listing</td>
                <td>As an Owner I should be able to add a new listing by clicking the add button</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Edit My Listing</td>
                <td>As an Owner I should be able to edit a listing by clicking the edit button</td>
            </tr>
            <tr>
                <td>4</td>
                <td>A Listing</td>
                <td>As an Owner I should be able to add address details, a category, location, local theatres, tags, images, rooms and a payment package to a listing</td>
            </tr>
        </tbody>
    </table>
</div>