<div class="table-responsive">
    <h3>Owner Tab - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Owner Tab</td>
                <td>As a registered owner I can access my owner features via the "Owners" menu tab</td>
            </tr>
            <tr>
                <td>2</td>
                <td>My Listings Tab</td>
                <td>As a registered owner I can access my manage listings page via the "Owners" menu tab</td>
            </tr>
        </tbody>
    </table>
</div>