<div class="table-responsive">
    <h3>Registration - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Registration</td>
                <td>As an owner I need to register, activate my registration and then select a payment package</td>
            </tr>
            <tr>
                <td>1.1</td>
                <td>Registration - register</td>
                <td>As an owner I register by completing a registration form on the "Registration" tab. My telephone and eMail address will be used as contact details on my listings.</td>
            </tr>
            <tr>
                <td>1.2</td>
                <td>Registration - activate</td>
                <td>As an owner after I have completed the website registration form I get an eMail containing a link. I use this link to activate my registration. The act of registration creates my owner account allowing me to log in to the site to access the "Owners" tab
            </tr>
            <tr>
                <td>2</td>
                <td>Package Selection</td>
                <td>As a registered owner I can select a payment package in association with a listing. I can have more than one listing, and each listing has an associated payment package ("Owners/My Listings" tab).
            </tr>
            <tr>
                <td>3</td>
                <td>Package Authorisation</td>
                <td>As a administrator I need to authorise an owner's package payment before they can use or update a listing with images ("Admin/Package Authorisation" tab)
            </tr>
        </tbody>
    </table>
</div>