<div class="table-responsive">
    <h3>Registration Errors - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Registration - Duplicate Email</td>
                <td>As an owner if I try to register with an eMail address that has already been registered I will get an error and be asked to contact the website administrator</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Registration - Email/Server Failure</td>
                <td>As an owner I try to register and something goes wrong on the server I will get an error and be asked to contact the website administrator</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Activation - Server Failure</td>
                <td>As an owner I try to activate my registration and something goes wrong on the server I will get an error and be asked to contact the website administrator</td>
            </tr>          
        </tbody>
    </table>
</div>