<div class="form-horizontal col-md-12 owner-detail" id="WebsiteUrlForm">
    <div class="col-md-12">
        <h4>Website <i class="btn icon-info info-colour" data-toggle="tooltip" data-placement="right" data-original-title="{{help_website}} "></i></h4>
        <hr />
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-2" for="Url">Url</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" ng-model="websiteUrl" id="WebsiteUrl" type="text" value="">
            </div>
        </div>
    </div>
</div>
